.styleguide {
  font-family: 'Neue Alte Grotesk', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.styleguide-sidebar {
  min-height: 1px;
  max-height: 1px;
  box-sizing: border-box;
  background: #f8fafc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow: auto;
  position: relative;
  z-index: 99999;
  display: flex;
  transition: all 300ms;
}
.styleguide-sidebar section {
  padding: 20px 20px 50px;
  min-width: 250px;
}
.styleguide-sidebar h1 {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0 0 15px;
  padding: 0 0 7px;
  color: #666;
  border-bottom: 1px solid #ccc;
}
.styleguide-sidebar p {
  margin: 0;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  color: #666;
  cursor: pointer;
  transition: all 200ms;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
.styleguide-sidebar p.active {
  background: #fff;
  color: #000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.styleguide-showcase {
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  flex-basis: 100%;
}

/** HANDLE **/

.styleguide-open {
  min-width: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 99999;
  background: #fff;
}
.styleguide-open label {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.styleguide-open label:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  border: 1px solid #c0c0c0;
  box-sizing: border-box;
  margin: 0 5px 0 0;
}
input#styleguide-open-handle {
  position: absolute;
  left: -99999px;
}
input#styleguide-open-handle:checked + .styleguide-open + .styleguide-sidebar {
  min-height: 250px;
  max-height: 250px;
}
input#styleguide-open-handle:checked + .styleguide-open label {
  opacity: 0.7;
}
input#styleguide-open-handle:checked + .styleguide-open label:before {
  background: #e0e0e0;
}

